<!DOCTYPE html>
<html>
<head>
	<title>ATM Locations</title>
	<script type="BankingJS.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/admin/css/mainDropDown.css">
  <link rel="stylesheet" type="text/css" href="../static/admin/css/BankingStyle.css">
	<header></header>
	<h1 class="BstatementTTL">ATM Locations</h1>
</head>
	<body>
  <!--Navigation bar-->
<nav class="zone blue1 sticky">   
    <ul class="main-nav">

        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>

        <li class=""><a class="hellohome fa fa-home" href="/index"></a></li>


        <li class="push">
          <div class="dropdown">
            <a  href="">Personal</a>
            <div class="dropdown-content">
              <a  href="/Bank_accounts">Bank Accounts</a>
              <a  href="/consumer_finance">Consumer Finance</a>
              <a  href="/cards">Debit/Credit Cards</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">Business</a>
            <div class="dropdown-content">
              <a href="/investment_banking">Investment Banking</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">About Us</a>
            <div class="dropdown-content">
              <a  href="/Introduction">Introduction</a>
              <a  href="/our-brand">Our Brand</a>
              <a  href="/History">History</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a class="" href="">Contact Us</a>
            <div class="dropdown-content">
              <a href="/contact-detail">Contact Details</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="" >Internet Banking Login</a>
            <div class="dropdown-content">
              <a href="/login">Log in</a>
              <a href="/registration">Sign Up</a>
            </div>
          </div>
        </li>
        

</ul>
<hr class="horizontalL">
</nav>
  








		<section class="BstatementPAGE">
			<h3 class="ATMBranchLocation">AHMED NAGAR TALHAR</h3>
      <p class="ATMBranchLocationPP">Survey No.41, Main Road Talhar, Distt. Badin.</p><hr>
      <h3 class="ATMBranchLocation">AUTO BHAN ROAD</h3>
      <p class="ATMBranchLocationPP">SHOP # G/6 & G/7 , SKY CAVE MALL & RESIDENCY, PLOT # A/8M MAIN AUTOBHAN ROAD HYDERABAD.</p><hr>
      <h3 class="ATMBranchLocation">Bank Road Branch, Mirpurkhas</h3>
      <p class="ATMBranchLocationPP">B-599/1 Ward B, M.A.Jinnah Road Mirpurkhas</p><hr>
      <h3 class="ATMBranchLocation">CADET COLLEGE, PETARO</h3>
      <p class="ATMBranchLocationPP">Shop #.4 Deh Raiati Cadet Colege Petaro</p><hr>
      <h3 class="ATMBranchLocation">CHORE</h3>
      <p class="ATMBranchLocationPP">Plot #.121,122, Station Road Chore</p><hr>
      <h3 class="ATMBranchLocation">DIGRI</h3>
      <p class="ATMBranchLocationPP">Plot #.168 Survey No.46 Ward B Opposite Billal Shopping Center, Tando Ghulam Ali Road Digri</p><hr>
      <h3 class="ATMBranchLocation">DISTRICT COUNCIL, HYDERABAD</h3>
      <p class="ATMBranchLocationPP">Shop #.17 & 18, Distt. Council Shopping Centre Hyderabad</p><hr>
      <h3 class="ATMBranchLocation">KHIPRO</h3>
      <p class="ATMBranchLocationPP">Shaheed Chowk Main Road Khipro</p><hr>
      <h3 class="ATMBranchLocation">KOT GHULAM MUHAMMAD</h3>
      <p class="ATMBranchLocationPP">Plot #.135, Station Road Deh-290-A, The K.G.M</p><hr>
      <h3 class="ATMBranchLocation">LATIFABAD, UNIT NO.11, HYDERAB</h3>
      <p class="ATMBranchLocationPP">294-C, Main Market Latifabad Hyderabad</p><hr>
      <h3 class="ATMBranchLocation">LATIFABAD, UNIT NO.7, HYDERABA</h3>
      <p class="ATMBranchLocationPP">Plot No. 03/B, Unit No. 07 Latifabad , Hyderabad</p><hr>
      <h3 class="ATMBranchLocation">LIAQUAT COLONY BRANCH</h3>
      <p class="ATMBranchLocationPP">C.S # 43 WARD "G' SAKHI PIR ROAD, LIAQUAT COLONY, HYDERABAD.</p><hr>
      <h3 class="ATMBranchLocation">MARKET RD, HYDERABAD</h3>
      <p class="ATMBranchLocationPP">City Survey #.1276/A, Ward-D, Market Road Hyderabad</p><hr>
      <h3 class="ATMBranchLocation">MASJID RD, NAWABSHAH</h3>
      <p class="ATMBranchLocationPP">C.S.#.90, C.S.89, C.S.#.88 Ward'A', Nawabshah</p><hr>
      <h3 class="ATMBranchLocation">MITHI BRANCH</h3>
      <p class="ATMBranchLocationPP">PLOT NO. 43, KASHMIR CHOWK, MITHI DIST: THARPARKER</p><hr>
      <h3 class="ATMBranchLocation">MOHNI BAZAR, NAWABSHAH</h3>
      <p class="ATMBranchLocationPP">C,8 No.616 Ward-B, Mohni Bazar Nawabshah</p><hr>
      <h3 class="ATMBranchLocation">QASIMABAD, HYDERABAD</h3>
      <p class="ATMBranchLocationPP">Plot #.B-5, Qasimabad Phase-I, Qasimabad Road Hyderabad</p><hr>
      <h3 class="ATMBranchLocation">QUAID-I-AZAM RD, BADIN</h3>
      <p class="ATMBranchLocationPP">Plot #.A-121 & A-122, Quaid-e-Azam Road, Fruit Chowk, Badin</p><hr>
      <h3 class="ATMBranchLocation">SHAHEED FAZIL RAHU, GOLARCHI</h3>
      <p class="ATMBranchLocationPP">B-08 Main Bazar, Shaheed Fazil Rahu, Golarchi.</p><hr>
      <h3 class="ATMBranchLocation">SHAHI BAZAR, HYDERABAD</h3>
      <p class="ATMBranchLocationPP">C.S.#.D/28, Choutki Ghitti Hyderabad</p><hr>
      <h3 class="ATMBranchLocation">SHAHPUR CHAKAR</h3>
      <p class="ATMBranchLocationPP">S.No.188-189 New Colony Shahpur Chakar</p><hr>
		</section>
	</body>
</html>