<!DOCTYPE html>
<html>
<head>
  <title>Bank Accounts</title>
  <link rel="stylesheet" type="text/css" href="../static/admin/css/styleBA.css">
  <link rel="stylesheet" type="text/css" href="../static/admin/css/mainDropDown.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!--Navigation bar-->
  <nav class="zone blue1 sticky">   
    <ul class="main-nav">

        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>

        <li class=""><a class="hellohome fa fa-home" href="/index"></a></li>


        <li class="push">
          <div class="dropdown">
            <a  href="">Personal</a>
            <div class="dropdown-content">
              <a  href="/Bank_accounts">Bank Accounts</a>
              <a  href="/consumer_finance">Consumer Finance</a>
              <a  href="/cards">Debit/Credit Cards</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">Business</a>
            <div class="dropdown-content">
              <a href="/investment_banking">Investment Banking</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">About Us</a>
            <div class="dropdown-content">
              <a  href="/Introduction">Introduction</a>
              <a  href="/our-brand">Our Brand</a>
              <a  href="/History">History</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a class="" href="">Contact Us</a>
            <div class="dropdown-content">
              <a href="/contact-detail">Contact Details</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="" >Internet Banking Login</a>
            <div class="dropdown-content">
              <a href="/login">Log in</a>
              <a href="/registration">Sign Up</a>
            </div>
          </div>
        </li>
        

</ul>
<hr class="horizontalL">
</nav>










  <div class="heading">
  <h1>SCARLET BANK ACCOUNTS</h1>
  <h2>We offer everyday bank accounts for day to day banking and savings.</h3>
  </div>

  <div class="container"><img class="cover"></div>
  <div class="zone blue grid-wrapper">

    <div class="box zone">
      <a href="/current_account"><img src="../static/admin/acctypes/currentaccount.jpg"></a>Current Account
    </div>

    <div class="box zone">
      <a href="/savings_account"><img src="../static/admin/acctypes/savingaccount.jpg"></a>Savings Account
    </div>

    <div class="box zone">
      <a href="/asaan_account"><img src="../static/admin/acctypes/asaanaccount.jpg"></a>Jan Dhan Account
    </div>

    <br>
    <br>

  </div>
  <footer class="zone ftr">ICICI Bank</footer>
</div>
</body>
</html>