<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Credit/Debit cards</title>
    
    <link rel="stylesheet" href="../static/admin/css/mainDropDown.css">
    <link rel="stylesheet" href="../static/admin/css/styleCards.css">
    <link rel="stylesheet" href="../static/admin/css/styleCF.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

</head>
<body>
  <!--Navigation bar-->

  <nav class="zone blue1 sticky">   
    <ul class="main-nav">

        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>

        <li class=""><a class="hellohome fa fa-home" href="/index"></a></li>


        <li class="push">
          <div class="dropdown">
            <a  href="">Personal</a>
            <div class="dropdown-content">
              <a  href="/Bank_accounts">Bank Accounts</a>
              <a  href="/consumer_finance">Consumer Finance</a>
              <a  href="/cards">Debit/Credit Cards</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">Business</a>
            <div class="dropdown-content">
              <a href="/investment_banking">Investment Banking</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">About Us</a>
            <div class="dropdown-content">
              <a  href="/Introduction">Introduction</a>
              <a  href="/our-brand">Our Brand</a>
              <a  href="/History">History</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a class="" href="">Contact Us</a>
            <div class="dropdown-content">
              <a href="/contact-detail">Contact Details</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="" >Internet Banking Login</a>
            <div class="dropdown-content">
              <a href="/login">Log in</a>
              <a href="/registration">Sign Up</a>
            </div>
          </div>
        </li>
        

</ul>
<hr class="horizontalL">
</nav>









<div class="bkgrnd-img">
  <br>
  <h1>CREDIT & DEBIT CARDS</h1>
  <h3>Range of payment instruments and channels offered by Scarlet Bank has significantly 
      contributed to service our customers.</h3>
</div>

<section class="our-work">
    <h3 class="h3cards" class="title" ><strong>Scarlet Bank Offers A Wide Range Of Cards</strong></h3>
    <p style="color:white;" class="pcards"><strong>Pay from the comfort of your home.</strong></p>
    <hr>

    <ul class="grid">
        <li class="small" style="background-image: url(../static/admin/img/card1.png);" ></li>
        <li class="large" style="background-image: url(../static/admin/img/card2.jpg);"></li>
        <li class="large" style="background-image: url(../static/admin/img/card3.png);"></li>
        <li class="small" style="background-image: url(../static/admin/img/card4.png);"></li>
    
</section>

<section class="features">
    <h3 class="title" style="color:black;">SCARLET VISA PREMIUM DEBIT CARD</h3>
    <p>
        Scarlet Bank presents the all new Scarlet Visa Premium Debit Card to match your affluent<br>
         and discerning lifestyle. Scarlet Visa Premium Debit Card is designed to serve you with<br>
          the premium banking experience, round the clock anywhere, anytime and with the peace of mind. <br>
          You are empowered with the range of exclusive services offered with Scarlet Visa Premium Debit<Br>
             Card to compliment your lifestyle needs.
           
    </p>
    <hr>

</section>


<section class="features">
    <h3 class="title" style="color:black;">VISA PLATINUM CREDIT CARD</h3>
    <p>
        Scarlet Bank Customers can now escape crowded departure halls and get complimentary,<bR>
         privileged and free access to selective Airport Lounges worldwide with Scarlet Visa<br>
        Platinum Credit Card. Click here to download the List of Airport Lounges participating<Br>
             in this exclusive offer. 
           
    </p>
    <hr>

</section>



<section class="features">
    <h3 class="title" style="color:black;">SCARLET CASH+SHOP VISA DEBIT CARD</h3>
    <p>
        Scarlet Bank welcomes you to a world of convenience and security, with Scarlet Cash+Shop<Br>
        Visa Debit Card. This Debit card is offered specifically to Scarlet Bank account-holders.<br>
        If you don’t have an account, please open it by visiting any nearest ABL branch to procure <br>
        a Scarlet Cash+Shop Visa Debit Card and start enjoying countless benefits and services that come with it.    
    </p>
    <hr>
</section>

<section class="reviews">
    <h3 class="title" style="color:black;">What others say:</h3>

    <p class="quote">CASH+SHOP VISA DEBIT CARD has been my favourite for many years.</p>
    <p class="author">— Derrick Sean</p>

    <p class="quote">VISA PLATINUM CREDIT CARD has made my life easier</p>
    <p class="author">— Daina Grey</p>

    <p class="quote">I don't know what I would have done without SCARLET VISA PREMIUM DEBIT CARD</p>
    <p class="author">— Greg Black</p>

    
</section>


</body>
</html>