<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<script type="BankingJS.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/admin/css/mainDropDown.css">
  <link rel="stylesheet" type="text/css" href="../static/admin/css/BankingStyle.css">
	<header></header>
	<h1 class="BstatementTTL">Contact Us</h1>
</head>
	<body>
  <!--Navigation bar-->

  <nav class="zone blue1 sticky">   
    <ul class="main-nav">

        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>

        <li class=""><a class="hellohome fa fa-home" href="/index"></a></li>


        <li class="push">
          <div class="dropdown">
            <a  href="">Personal</a>
            <div class="dropdown-content">
              <a  href="/Bank_accounts">Bank Accounts</a>
              <a  href="/consumer_finance">Consumer Finance</a>
              <a  href="/cards">Debit/Credit Cards</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">Business</a>
            <div class="dropdown-content">
              <a href="/investment_banking">Investment Banking</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">About Us</a>
            <div class="dropdown-content">
              <a  href="/Introduction">Introduction</a>
              <a  href="/our-brand">Our Brand</a>
              <a  href="/History">History</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a class="" href="">Contact Us</a>
            <div class="dropdown-content">
              <a href="/contact-detail">Contact Details</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="" >Internet Banking Login</a>
            <div class="dropdown-content">
              <a href="/login">Log in</a>
              <a href="/registration">Sign Up</a>
            </div>
          </div>
        </li>
        

</ul>
<hr class="horizontalL">
</nav>










		<section class="BstatementPAGE">
      <ul>
			<li class="contact-usH">Scarlet PhoneBanking</li>
      <p class="contact-us">Scarlet PhoneBanking is a convenient solution for remote management, information and assistance. This service is available 24 hours. Call us: <span>+92-(City Code)-111-111-425​​</span>.</p><br><br>
      <li class="contact-usH">Locations in Pakistan</li>
      <p class="contact-us">To find the branch nearest you within Pakistan, use the <a class="branch-location" href="/ATM-location">ATM</a> & <a class="branch-location" href="/branch-location">Branch</a> Locator​​​​​​​.</p><br><br>
      <li class="contact-usH">Information and Feedback</li>
      <p class="contact-us">For information  and/or to lodge complaints, please Call us at Scarlet PhoneBanking at <span>+92-(City Code)-111-111-425​</span> Write to us at <span> customer.complaints@scarlet.com</span>.</p><br><br>
      <li class="contact-usH">SMS Complain to Scarlet</li>
      <p class="contact-us">For SMS Complaints please send "Comp" CNIC to <span>4250</span> and a customer service representative will call you at the registered mobile number within 24 working hours for your queries and concerns.</p><br><br>
      </ul>
		</section>
	</body>
</html>