<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/admin/css/styleCards.css">
    <link rel="stylesheet" href="../static/admin/css/styleCF.css">
    <link rel="stylesheet" type="text/css" href="../static/admin/css/mainDropDown.css">

   <title>Current Account</title>
</head>
<body>
  <!--Navigation bar-->
<nav class="zone blue1 sticky">   
    <ul class="main-nav">

        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>

        <li class=""><a class="hellohome fa fa-home" href="/index"></a></li>


        <li class="push">
          <div class="dropdown">
            <a  href="">Personal</a>
            <div class="dropdown-content">
              <a  href="/Bank_accounts">Bank Accounts</a>
              <a  href="/consumer_finance">Consumer Finance</a>
              <a  href="/cards">Debit/Credit Cards</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">Business</a>
            <div class="dropdown-content">
              <a href="/investment_banking">Investment Banking</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">About Us</a>
            <div class="dropdown-content">
              <a  href="/Introduction">Introduction</a>
              <a  href="/our-brand">Our Brand</a>
              <a  href="/History">History</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a class="" href="">Contact Us</a>
            <div class="dropdown-content">
              <a href="/contact-detail">Contact Details</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="" >Internet Banking Login</a>
            <div class="dropdown-content">
              <a href="/login">Log in</a>
              <a href="/registration">Sign Up</a>
            </div>
          </div>
        </li>
        

</ul>
<hr class="horizontalL">
</nav>









<div class="bkgrnd-img-accounts">
  <br>
    <h1>CURRENT ACCOUNT</h1>
    <h3>THIS ACCOUNT IS SUITABLE FOR CUSTOMERS LOOKING FOR A SIMPLE BANK ACCOUNT FOR DAY TO DAY TRANSACTIONS.</h3>
</div>


<section class="features">
    <h3 class="title" style="color:black;">WITH SCARLET BANK’S CURRENT ACCOUNT, YOU GET ALL THE USUAL ADVANTAGES AND FEATURES OF A REGULAR CURRENT
      ACCOUNT FOR ALL YOUR DAILY TRANSACTIONS, FREQUENT PAYMENTS AND FLOW OF FUNDS.RATE INTEREST FREE SCARLET
      BANK CURRENT ACCOUNT OFFERS A HOST OF FREE SERVICES ON MAINTAINING A MONTHLY AVERAGE BALANCE OF RS.250,000/-
      & ABOVE.</h3>
      <p>
    </p>
    <hr>

</section>


 <section class="features">
  <h3 class="title" style="color:black;">FEATURES AND SERVICES OF CURRENT ACCOUNT</h3>
  <p>
    <ul>
      <li>Free of cost issuance of first cheque book</li>
      <li>Free Online Cash Deposit and Withdrawal</li>
      <li>Free Online Clearing collection by Remote Branch</li>
      <li>Free Online Printing of Statement of account</li>
      <li>Access to myABL Internet Banking on Personal Computer and Mobile</li>
      <li>Fees: Monthly Service Charges: Rs. 50/-</li>
  </ul>
</p>          
<hr>

</section>


</body>
</html>