<!DOCTYPE html>
<html>
<head>
	<title>History</title>
	<script type="BankingJS.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/admin/css/mainDropDown.css">
  <link rel="stylesheet" type="text/css" href="../static/admin/css/BankingStyle.css">
	<header></header>
</head>
	<body>
  <!--Navigation bar-->

  <nav class="zone blue1 sticky">   
    <ul class="main-nav">

        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>

        <li class=""><a class="hellohome fa fa-home" href="/index"></a></li>


        <li class="push">
          <div class="dropdown">
            <a  href="">Personal</a>
            <div class="dropdown-content">
              <a  href="/Bank_accounts">Bank Accounts</a>
              <a  href="/consumer_finance">Consumer Finance</a>
              <a  href="/cards">Debit/Credit Cards</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">Business</a>
            <div class="dropdown-content">
              <a href="/investment_banking">Investment Banking</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">About Us</a>
            <div class="dropdown-content">
              <a  href="/Introduction">Introduction</a>
              <a  href="/our-brand">Our Brand</a>
              <a  href="/History">History</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a class="" href="">Contact Us</a>
            <div class="dropdown-content">
              <a href="/contact-detail">Contact Details</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="" >Internet Banking Login</a>
            <div class="dropdown-content">
              <a href="/login">Log in</a>
              <a href="/registration">Sign Up</a>
            </div>
          </div>
        </li>
        

</ul>
<hr class="horizontalL">
</nav>









		<section class="BstatementPAGE">
			<h3 class="hh3"> History</h3>
      <p class="introHIS">ICICI was formed in 1955 at the initiative of the World Bank, the Government of India and representatives of Indian industry. The principal objective was to create a development financial institution for providing medium-term and long-term project financing to Indian businesses. Until the late 1980s, ICICI primarily focused its activities on project finance, providing long-term funds to a variety of industrial projects. With the liberalization of the financial sector in India in the 1990s, ICICI transformed its business from a development financial institution offering only project finance to a diversified financial services provider that, along with its subsidiaries and other group companies, offered a wide variety of products and services. As India’s economy became more market-oriented and integrated with the world economy, ICICI capitalized on the new opportunities to provide a wider range of financial products and services to a broader spectrum of clients. ICICI Bank was incorporated in 1994 as a part of the ICICI group. In 1999, ICICI became the first Indian company and the first bank or financial institution from non-Japan Asia to be listed on the New York Stock Exchange. <br> <br> <br>
 

        The issue of universal banking, which in the Indian context meant conversion of long-term lending institutions such as ICICI into commercial banks, had been discussed at length in the late 1990s. Conversion into a bank offered ICICI the ability to accept low-cost demand deposits and offer a wider range of products and services, and greater opportunities for earning non-fund based income in the form of banking fees and commissions. After consideration of various corporate structuring alternatives in the context of the emerging competitive scenario in the Indian banking industry, and the move towards universal banking, the managements of ICICI and ICICI Bank formed the view that the merger of ICICI with ICICI Bank would be the optimal strategic alternative for both entities, and would create the optimal legal structure for ICICI group's universal banking strategy. The merger would enhance value for ICICI shareholders through the merged entity's access to low-cost deposits, greater opportunities for earning fee-based income and the ability to participate in the payments system and provide transaction-banking services. The merger would enhance value for ICICI Bank shareholders through a large capital base and scale of operations, seamless access to ICICI's strong corporate relationships built up over five decades, entry into new business segments, higher market share in various business segments, particularly fee-based services, and access to the vast talent pool of ICICI and its subsidiaries. <br> <br> <br>
         
        
        In October 2001, the Boards of Directors of ICICI and ICICI Bank approved the merger of ICICI and two of its wholly-owned retail finance subsidiaries, ICICI Personal Financial Services Limited and ICICI Capital Services Limited, with ICICI Bank. The merger was approved by shareholders of ICICI and ICICI Bank in January 2002, by the High Court of Gujarat at Ahmedabad in March 2002, and by the High Court of Judicature at Mumbai and the Reserve Bank of India in April 2002. Consequent to the merger, the ICICI group's financing and banking operations, both wholesale and retail, were integrated in a single entity.</p>
     
		</section>
	</body>
</html>