<!DOCTYPE html>
<html>
<head>
	<title>History</title>
	<script type="BankingJS.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/admin/css/mainDropDown.css">
  <link rel="stylesheet" type="text/css" href="../static/admin/css/BankingStyle.css">
	<header></header>
</head>
	<body>
  <!--Navigation bar-->

  <nav class="zone blue1 sticky">   
    <ul class="main-nav">

        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>

        <li class=""><a class="hellohome fa fa-home" href="/index"></a></li>


        <li class="push">
          <div class="dropdown">
            <a  href="">Personal</a>
            <div class="dropdown-content">
              <a  href="/Bank_accounts">Bank Accounts</a>
              <a  href="/consumer_finance">Consumer Finance</a>
              <a  href="/cards">Debit/Credit Cards</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">Business</a>
            <div class="dropdown-content">
              <a href="/investment_banking">Investment Banking</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">About Us</a>
            <div class="dropdown-content">
              <a  href="/Introduction">Introduction</a>
              <a  href="/our-brand">Our Brand</a>
              <a  href="/History">History</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a class="" href="">Contact Us</a>
            <div class="dropdown-content">
              <a href="/contact-detail">Contact Details</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="" >Internet Banking Login</a>
            <div class="dropdown-content">
              <a href="/login">Log in</a>
              <a href="/registration">Sign Up</a>
            </div>
          </div>
        </li>
        

</ul>
<hr class="horizontalL">
</nav>









		<section class="BstatementPAGE">
			<h3 class="hh3"> History</h3>
      <p class="introHIS">Originally established in 1941, Scarlet moved its operations to Pakistan in 1947 at the request of Muhammad Ali Jinnah, hence becoming the first commercial bank to lay its foundation in the country. Embarking on a progressive journey, Scarlet continued to grow and expand in the successive years. The Bank's first international branch opened in Colombo, Sri Lanka in 1951, while the construction of the iconic Scarlet was completed in 1972, the year that also marked the commemoration of Scarlet's 25th anniversary. </p>
      <p class="introHIS">With a sizeable domestic share, Scarlet was nationalized in 1974. The Bank became a trend setter in the banking industry, acquiring the lion's share in inward foreign remittances and a major market share in loans to small industries, traders and farmers. International operations expanded and HBL now operates in over 20 countries across four continents.</p>
      <p class="introHIS">In February 2004, the bank was privatized and the management control of the bank was handed over to AKFED. By April 2015, the Government of Pakistan divested its entire shareholding of 41.5% through the Privatization Commission of Pakistan, thereby officially making Scarlet Pakistan's largest private bank.​</p>
      <p class="introHIS">Scarlet has not just been a pioneer in the banking industry, but has also been a platform that has enabled dreams for millions of people. It has time and again, proven to be a catalyst for change by initiatives that have elevated Pakistan’s image and reputation. From bringing back international cricket to Pakistan through the Scarlet PSL, to helping strengthen the economy of the country through initiatives like CPEC, Scarlet continues to enrich lives of Pakistanis around the world.</p>
		</section>
	</body>
</html>