<!DOCTYPE html>
<html>
<head>
  <title>Scarlet Banks</title>
  <link rel="stylesheet" type="text/css" href="../static/admin/css/style.css">
  <link rel="stylesheet" type="text/css" href="../static/admin/css/mainDropDown.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!--Navigation bar-->
<nav class="zone blue1 sticky">   
    <ul class="main-nav">

         <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li> 

        <li class=""><a class="hellohome fa fa-home" href="/index"></a></li>


        <li class="push">
          <div class="dropdown">
            <a  href="">Personal</a>
            <div class="dropdown-content">
              <a  href="/Bank_accounts">Bank Accounts</a>
              <a  href="/consumer_finance">Consumer Finance</a>
              <a  href="/cards">Debit/Credit Cards</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">Business</a>
            <div class="dropdown-content">
              <a href="/investment_banking">Investment Banking</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">About Us</a>
            <div class="dropdown-content">
              <a  href="/Introduction">Introduction</a>
              <a  href="/our-brand">Our Brand</a>
              <a  href="/History">History</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a class="" href="">Contact Us</a>
            <div class="dropdown-content">
              <a href="/contact-detail">Contact Details</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="" >Internet Banking Login</a>
            <div class="dropdown-content">
              <a href="/login">Log in</a>
              <a href="/registration">Sign Up</a>
            </div>
          </div>
        </li>
        

</ul>
<hr class="horizontalL">
</nav>











<div class="heading">
  <h1 class="heading1">WELCOME TO YOUR ONLINE BRANCH!</h1>
  <h3 class="heading3">How can we help you today?<br><br><Br><br><span class="arrow">&#8595</span></h3>
  
</div>

  <div class="container"><img class="cover"></div>
  <div class="zone blue grid-wrapper">
   

    <div class="box zone">
      <a href="/Bank_accounts"><img src="../static/admin/img/open_account.png"></a>Types Of Accounts
    </div>

    <div class="box zone">
      <a href="/registration"><img src="../static/admin/img/internetbanking.jpg"></a>Join Internet Banking
    </div>

    <div class="box zone">
      <a href="/cards"><img src="../static/admin/img/credit_and_debit_cards.png"></a>Credit and Debit cards
    </div>

    <div class="box zone">
      <a href="/contact-detail"><img src="../static/admin/img/callcenter.png"></a>Call Center 24/7
    </div>

    <div class="box zone">
      <a href="/branch-location"><img src="../static/admin/img/branches.png"></a>Our Branches
    </div>

    <div class="box zone">
      <a href="/ATM-location"><img src="../static/admin/img/atm.png"></a>Our ATMs
    </div>

    <br>
    <br>

  </div>
</div>
</body>
</html>