<!DOCTYPE html>
<html>
<head>
	<title>Introduction</title>
	<script type="BankingJS.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/admin/css/mainDropDown.css">
  <link rel="stylesheet" type="text/css" href="../static/admin/css/BankingStyle.css">
	<header></header>
</head>
	<body>
  <!--Navigation bar-->
  <nav class="zone blue1 sticky">   
    <ul class="main-nav">

        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>

        <li class=""><a class="hellohome fa fa-home" href="/index"></a></li>


        <li class="push">
          <div class="dropdown">
            <a  href="">Personal</a>
            <div class="dropdown-content">
              <a  href="/Bank_accounts">Bank Accounts</a>
              <a  href="/consumer_finance">Consumer Finance</a>
              <a  href="/cards">Debit/Credit Cards</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">Business</a>
            <div class="dropdown-content">
              <a href="/investment_banking">Investment Banking</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">About Us</a>
            <div class="dropdown-content">
              <a  href="/Introduction">Introduction</a>
              <a  href="/our-brand">Our Brand</a>
              <a  href="/History">History</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a class="" href="">Contact Us</a>
            <div class="dropdown-content">
              <a href="/contact-detail">Contact Details</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="" >Internet Banking Login</a>
            <div class="dropdown-content">
              <a href="/login">Log in</a>
              <a href="/registration">Sign Up</a>
            </div>
          </div>
        </li>
        

</ul>
<hr class="horizontalL">
</nav>











		<section class="BstatementPAGE">
			<h3 class="hh3">Organization</h3>
      <p class="introHIS">Scarlet, Pakistan’s largest bank, was the first commercial bank to be established in Pakistan in 1947. Over the years, Scarlet has grown its branch network to over 1,700 branches and +2,100 ATMs globally, serving 14 million customers and clients.</p>

      <p class="introHIS">The Government of Pakistan (GoP) privatized Scarlet in 2004 through which Aga Khan Fund for Economic Development (AKFED) acquired 51% of the Bank's shareholding and the management control. The remaining 41.5% shareholding by the GoP was divested in April 2015. AKFED continues to retain 51% shareholding in Scarlet while the remaining shareholding is held by individuals, local and foreign institutions and funds including CDC Group Plc which holds 5% and International Finance Corporation which holds 3%.</p>

      <p class="introHIS">The Bank is a leading full-service commercial bank. The key areas of operation are Branch Banking, Corporate & Investment Banking, Treasury, SME & Rural Banking, Financial Institutions & Global Trade Services, Transaction Banking and Islamic Banking.</p>

      <p class="introHIS">The Branch Banking business is the mainstay of the Bank, positioning Scarlet as the largest retail bank in Pakistan catering to all market segments. Scarlet Corporate & Investment Banking Group is a leading provider of financial services to multinational and local corporate clients across the country. The Bank also has the largest Treasury operations in Pakistan and plays a key role in Pakistan's domestic markets.</p>

      <p class="introHIS">With a global presence in over 15 countries spanning across four continents, Scarlet is also the largest domestic multinational. The Bank’s international footprint is important as it provides opportunities to effectively serve its core customers across its network. Scarlet is the largest executor of CPEC related financing in Pakistan and coupled with being the first Pakistani bank to start Renminbi (RMB) operations makes the Bank a key player in this economic initiative.</p>

      <p class="introHIS"> Scarlet is shaping the future through a paradigm shift as a ‘Technology company with a banking license’. The Bank’s multiple digital channels are helping it get closer to its customers through innovative and frictionless ways. The bank will continue to use technology to deliver service to its customers in a faster, cheaper and more efficient way.</p>

      <p class="introHIS">As the leading financial intuition of Pakistan, Scarlet is at the forefront of all development initiatives which includes growth of priority sectors and targeting the unbanked population in the country. The Bank remains committed to its objective of financial inclusion for all sectors of society, across Pakistan. The Bank is already playing a leading role in enhancing gender diversity through ensuring the access of women to the financial sector.</p>
		</section>
	</body>
</html>