<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/admin/css/newStyle.css">
    <link rel="stylesheet" href="../static/admin/css/styleCF.css">
    <link rel="stylesheet" type="text/css" href="../static/admin/css/mainDropDown.css">

   <title>Invest</title>
</head>
<body>
  <!--Navigation bar-->

  <nav class="zone blue1 sticky">   
    <ul class="main-nav">

        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>

        <li class=""><a class="hellohome fa fa-home" href="/index"></a></li>


        <li class="push">
          <div class="dropdown">
            <a  href="">Personal</a>
            <div class="dropdown-content">
              <a  href="/Bank_accounts">Bank Accounts</a>
              <a  href="/consumer_finance">Consumer Finance</a>
              <a  href="/cards">Debit/Credit Cards</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">Business</a>
            <div class="dropdown-content">
              <a href="/investment_banking">Investment Banking</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">About Us</a>
            <div class="dropdown-content">
              <a  href="/Introduction">Introduction</a>
              <a  href="/our-brand">Our Brand</a>
              <a  href="/History">History</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a class="" href="">Contact Us</a>
            <div class="dropdown-content">
              <a href="/contact-detail">Contact Details</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="" >Internet Banking Login</a>
            <div class="dropdown-content">
              <a href="/login">Log in</a>
              <a href="/registration">Sign Up</a>
            </div>
          </div>
        </li>
        

</ul>
<hr class="horizontalL">
</nav>











    <div class="bkgrnd-img" style="background-image: url(../static/admin/img/investment.jpg)">
        <br>
        <h1>Investment Banking</h1>
        <h3>Corporate Advisory and Structured Finance!</h3>
      </div>
  

<section class="our-work">
    <h3 class="title">Investment Banking comprises debt syndications and capital markets, project finance and advisory desks.</h3>
    <p style="color:white;">Our award winning team of Investment Banking is offering syndications and capital market solutions, project financing and corporate advisory services to the Bank’s corporate clientele</p>
    <hr>    
</section>

<section class="features">
    <h3 class="title" style="color:black;">Project Finance</h3>
    <p>
        is the long-term financing solution of industrial projects. Project Finance desk has
        been instrumental in financing of a number of projects of national importance. 
        It offers advisory services to project sponsors for development of a credit-worthy 
        and bankable financial structure for the project with appropriate risk allocation.
        It also extends syndicated project finance solutions to project sponsors desirous of
        setting up green field projects or for entities seeking financing on a limited recourse basis.
           
    </p>
    <hr>

</section>

<section class="features">
    <h3 class="title" style="color:black;">Debt Syndications & Capital Markets Desk</h3>
    <p>
        is the major revenue earner whose forte is executing big ticket debt arrangement
        transactions on full/partial recourse basis for companies with existing revenue
        stream. The Syndications Desk seeks to create value for its clientele by offering
        cost effective and customized corporate financing solutions. Cost efficiency is
        brought about by marketing products to a diverse participant base, complex financing
        requirements are met through tailor made solutions while value is delivered through
        a combination of aforementioned aligned with swift execution to enable our customers
        to capitalize on market opportunities.
           
    </p>
    <hr>

</section>



<section class="reviews">
    <h3 class="title" style="color:black;">What others say:</h3>

    <p class="quote">Best Investment I ever made.</p>
    <p class="author">— Patrick Farrell</p>

    <p class="quote">Helped me a lot.</p>
    <p class="author">— George Smith</p>

    <p class="quote">I will never do investment banking in any other bank ever.</p>
    <p class="author">— Kevin Blake</p>

    
</section>


</body>
</html>