<!DOCTYPE html>
<html>
<head>
	<title>Our Brand</title>
	<script type="BankingJS.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/admin/css/mainDropDown.css">
  <link rel="stylesheet" type="text/css" href="../static/admin/css/BankingStyle.css">
	<header></header>
</head>
	<body>
  <!--Navigation bar-->

  <nav class="zone blue1 sticky">   
    <ul class="main-nav">

        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>

        <li class=""><a class="hellohome fa fa-home" href="/index"></a></li>


        <li class="push">
          <div class="dropdown">
            <a  href="">Personal</a>
            <div class="dropdown-content">
              <a  href="/Bank_accounts">Bank Accounts</a>
              <a  href="/consumer_finance">Consumer Finance</a>
              <a  href="/cards">Debit/Credit Cards</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">Business</a>
            <div class="dropdown-content">
              <a href="/investment_banking">Investment Banking</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">About Us</a>
            <div class="dropdown-content">
              <a  href="/Introduction">Introduction</a>
              <a  href="/our-brand">Our Brand</a>
              <a  href="/History">History</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a class="" href="">Contact Us</a>
            <div class="dropdown-content">
              <a href="/contact-detail">Contact Details</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="" >Internet Banking Login</a>
            <div class="dropdown-content">
              <a href="/login">Log in</a>
              <a href="/registration">Sign Up</a>
            </div>
          </div>
        </li>
        

</ul>
<hr class="horizontalL">
</nav>













		<section class="BstatementPAGE">
			<h3 class="hh3"> Our Brand</h3>
      <p class="introHIS">Our brand identity is the outward expression of what we stand for as an organisation. This is summarized in our vision, mission and is supported by our values.​</p>
      <h4 class="contact-usH">Vision</h4>
      <p class="introHIS">“Enabling people to advance with confidence and success”</p>
      <h4 class="contact-usH">Mission</h4>
      <p class="introHIS">“To make our customers prosper, our staff excel and create value for shareholders”</p>
      <h4 class="contact-usH">Values</h4>
      <p class="introHIS">Our values are the main principles that define our culture and are brought to life in our attitudes and behaviour. Our values make us unique and unmistakable.​</p>
      <h5 class="brand">Progressiveness</h5>
      <p class="introHIS">We believe in the advancement of society through the adoption of enlightened working practices, innovative products and processes, and a spirit of enterprise.</p>
      <h5 class="brand">Customer Focus</h5>
      <p class="introHIS">We need to fully understand the needs of our customers and to adapt our products and services to meet their requirements. We always endeavour for customer satisfaction as our primary goal. ​​</p>
      <h5 class="brand">Excellence</h5>
      <p class="introHIS">This is at the core of everything we do. The markets in which we operate are becoming increasingly competitive providing our customers an abundance of choice. Only by being the very best – in terms of the services we offer, our products and premises – we become successful as we continue to grow. ​</p>
      <h5 class="brand">Integrity</h5>
      <p class="introHIS">We are the leading bank in Delhi, and our success depends upon building trust at every level. Our customers – and society in general – expect us to possess and steadfastly adhere to high moral principles and professional standards. ​​​​​</p>
      <h5 class="brand">Meritocracy</h5>
      <p class="introHIS">We believe in giving opportunities and advantages to our employees on the basis of their ability. We reward achievements and provide enriching career opportunities for all​.​​​​​​​​</p>
		</section>
	</body>
</html>