<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/admin/css/styleCards.css">
    <link rel="stylesheet" href="../static/admin/css/styleCF.css">
    <link rel="stylesheet" type="text/css" href="../static/admin/css/mainDropDown.css">

   <title>Savings Account</title>
</head>
<body>
  <!--Navigation bar-->
<nav class="zone blue1 sticky">   
    <ul class="main-nav">

        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>
        <li class="push"><a  href=""></a></li>

        <li class=""><a class="hellohome fa fa-home" href="/index"></a></li>


        <li class="push">
          <div class="dropdown">
            <a  href="">Personal</a>
            <div class="dropdown-content">
              <a  href="/Bank_accounts">Bank Accounts</a>
              <a  href="/consumer_finance">Consumer Finance</a>
              <a  href="/cards">Debit/Credit Cards</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">Business</a>
            <div class="dropdown-content">
              <a href="/investment_banking">Investment Banking</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="">About Us</a>
            <div class="dropdown-content">
              <a  href="/Introduction">Introduction</a>
              <a  href="/our-brand">Our Brand</a>
              <a  href="/History">History</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a class="" href="">Contact Us</a>
            <div class="dropdown-content">
              <a href="/contact-detail">Contact Details</a>
            </div>
          </div>
        </li>

        <li class="push">
          <div class="dropdown">
            <a href="" >Internet Banking Login</a>
            <div class="dropdown-content">
              <a href="/login">Log in</a>
              <a href="/registration">Sign Up</a>
            </div>
          </div>
        </li>
        

</ul>
<hr class="horizontalL">
</nav>









<div class="bkgrnd-img-accounts">
  <br>
    <h1>SAVINGS ACCOUNT</h1>
    <h3>Scarlet's New Savings Account is a unique monthly savings account, offering competitive high yield tier based saving rates.</h3>
  </div>


<section class="features">
    <h3 class="title" style="color:black;">IF YOU CHOOSE TO KEEP A DEPOSIT IN A SECURED SAVINGS ACCOUNT WHICH ALSO GIVES
      AN ATTRACTIVE RATE OF RETURN, THEN SCARLET'S SAVINGS ACCOUNT WILL SERVE ALL YOUR
      FINANCIAL NEEDS.</h3>
      <p>
    </p>
    <hr>

</section>


 <section class="features">
  <h3 class="title" style="color:black;">FEATURES AND SERVICES OF SAVINGS ACCOUNT</h3>
  <p>
    <ul>
      <li>Profit is calculated on monthly average balance</li>
      <li>No limitation on withdrawals</li>
      <li>Share of profit is credited on half-yearly basis</li>
      <li>No minimum balance requirement</li>
      <li>No account maintenance/service charges</li>
      <li>Scarlet Debit Card</li>
  </ul>
</p>          
<hr>

</section>


</body>
</html>